#pageTitle {
    font-family: 'Permanent Marker', cursive;

}

#diceValue {
    width: 90%;
    height: 60px;
    border-radius: 5px;
    font-size: 40px;
    margin-top: 20px;
}

#rollButton, #clearAppliedStats, #generateStats {
    height: 60px;
    width: 50%;
    font-size: 40px;
    margin-top: 20px;
}
.statButton {
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
}

.row {
    text-align: center;
}
.col-4 {
    font-size: 26px;
    font-weight: bold;
}

#rollValueDiv {
    background-color: white;
    width: 35%;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    font-size: 60px;
}

