html {
    height: 100%;
}
body {
    background-image: url("./tobias-tullius-PXXtq6bp6cs-unsplash.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}
#pageTitle {
    font-family: 'Permanent Marker', cursive;

}

#diceValue {
    width: 90%;
    height: 60px;
    border-radius: 5px;
    font-size: 40px;
    margin-top: 20px;
}

#rollButton, #clearAppliedStats, #generateStats {
    height: 60px;
    width: 50%;
    font-size: 40px;
    margin-top: 20px;
}
.statButton {
    height: 40px;
    font-size: 20px;
    margin-top: 20px;
}

.row {
    text-align: center;
}
.abilitiesCol {
    font-size: 26px;
    font-weight: bold;
    background-color: rgb(220, 231, 241);
    border-bottom: solid black;
    margin-top: 20px;
    opacity: 75%;
}


#rollValueDiv {
    background-color: white;
    width: 35%;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    font-size: 60px;
}

article {
    min-height: 100%;
}

footer {
    background-color: black;
    color: blanchedalmond;
    margin-top: auto;
}

#homeIntro {
    font-family: 'Permanent Marker', cursive;
    background-color: rgb(220, 231, 241);
    opacity: 50%;
    font-size: 72px;
    margin-top: 20px;
}

#homeSub {
    font-family: serif;
    background-color: rgb(220, 231, 241);
    opacity: 50%;
    font-size: 52;
    margin-top: 20px;
}

#comingSoon {
    font-family: 'Permanent Marker', cursive;
    background-color: rgb(220, 231, 241);
    opacity: 50%;
    font-size: 72px;
    margin-top: 20px;
}