html {
    height: 100%;
}
body {
    background-image: url("./man-silhouette-in-haunted-forest-K83C75N.jpg");
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    
}
.row {
    text-align: center;
}
article {
    min-height: 100%;
}

footer {
    background-color: black;
    color: white;
    margin-top: auto;
    text-align: center;
    width: 100%;
}
.nav-bar {
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 72px;
    margin-top: 20px;
}


/* ---------Dice Roll Page------------- */
#diceValue {
    width: 90%;
    height: 60px;
    border-radius: 5px;
    font-size: 40px;
    margin-top: 20px;
}

#rollButton, #clearAppliedStats, #generateStats {
    background-color: #eb1c24;
    width: 400px;
    border-radius: 50px;
    border: none;
    color: white;
    margin-top: 40px;
}
/*---------------- Stat Generate Page ------------------- */
.statButton {
    width: 65px;
    height: 60px;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 50%;
    border: none;
}
.abilitiesCol {
    font-size: 26px;
    font-weight: bold;
    background-color: rgb(220, 231, 241);
    border-bottom: solid black;
    margin-top: 20px;
    opacity: 75%;
}
#stat-instruct {
    color: white
}


#rollValueDiv {
    background-color: white;
    width: 35%;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 20px;
    font-size: 60px;
}

/* -------------- Home Page ---------------- */
#db-home {
    margin-top: 80px;
}

#homeSub {
    text-align: center;
    width: 60%;
    margin: auto;
    color: white;
}

/* ----------------- Character generator page ------------------------ */

#charDetails {
    text-align: center;
    font-family: serif;
    color: rgb(220, 231, 241);
    font-size: 24px;
    margin-top: 20px;
}

#randomize {
    background-color: #eb1c24;
    width: 400px;
    border-radius: 50px;
    border: none;
    color: white;
}
#race-name {
    font-family: 'Permanent Marker', cursive;
    color: white;
    font-size: 72px;
}
#show-box {
    border: solid grey 1px;
    margin: 20px;
    padding: 10px;
}
